<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing App">
    <listeners>
        <listener class-name="ScreenshotUtility"/>
    </listeners>
    <test name="Automatizacion">
        <classes>
            <class name="LoginTest" >
                <methods>
                    <include name="login"></include>
                    <include name="testUsernameValidation"></include>
                    <include name="testPasswordValidation"></include>
                    <include name="testRepeatPasswordValidation"></include>
                    <include name="testEmailValidation"></include>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->